<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:fragment="ztree(title)">
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/jquery/jquery-3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/ztree/js/jquery.ztree.all.js}"></script>
    <script type="text/javascript" th:src="@{/ztree/js/jquery.ztree.core.js}"></script>
    <script type="text/javascript" th:src="@{/ztree/js/jquery.ztree.excheck.js}"></script>
    <script type="text/javascript" th:src="@{/ztree/js/jquery.ztree.exedit.js}"></script>
    <script type="text/javascript" th:src="@{/ztree/js/jquery.ztree.exhide.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/ztree/css/demo.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/ztree/css/zTreeStyle.css}"/>
</head>
<body>

</body>
</html>